*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   overflow-x: hidden;
}
.me{
   width: 100vw;
}
.me-flex{
   padding: 20px 8vw;
   display: flex;
   gap: 20px;
   width: 100%;

}
.me-flex img{
   width: 500px;
   height: 500px;
   object-fit: cover;
}
.me-flex p{
   line-height: 25px;
   font-size: 25px;

}
.me-flex h2{
   font-size: 20px;
   text-transform: capitalize;
   font-weight: bold;
   text-decoration: underline;
   text-decoration-color: #383838;
}

