*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   width: 100vw;
   overflow-x: hidden;
}
.me{
   width: 100vw;
}
.me-flex{
   padding: 20px 8vw;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   width: 100%;

}
.me-flex img{
   width: 500px;
   height: 500px;
   object-fit: cover;
   border: 2px solid #009;
   border-bottom: none;
   border-right: none;
   padding: 15px 0 0 15px;
}
.me-flex p{
   line-height: 25px;
   font-size: 25px;
   color: #009;
   padding-bottom: 15px;

}
.me-flex h2{
   font-size: 20px;
   text-transform: capitalize;
   font-weight: bold;
   text-decoration: underline;
   text-decoration-color: #009;
   text-decoration-color: #009;
   padding-bottom: 15px;
   color: #009;
}
@media screen and (max-width:800px){
   .me-flex{
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   .me-flex img{
      width: 180px;
      height: 180px;
      object-fit: cover;
      order: -1;
      align-self: center;
   }
   .me-flex p{
      font-size: 18px;
      line-height: 18px;
   }
   .me-flex h2{
      text-align: center;
   }
}